<TD align="right" style="cursor:pointer;" onclick="gotoURL('browse.cgi?[% expanded_item %]=[% $expanded_item %]&action=browse_window&window=[% window FILTER html %]')">[% FOREACH key = $window.keys %][% IF index == max_rows %][% LAST %][% END %][% index = index + 1 %][% END %][%IF index == max_rows%] <img border="0" width="13" height="11" src="skins/contrib/Tikal/images/max_min.gif" >[% END %][% index = 1 %]</TD>
